* {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: large;
}

body {
    background-color: #191a1c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #f0f3fa;
}

body > * {
    width: 100%;
}

nav {
    min-height: 3rem;
    background-color: #242529;
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

li {
    margin-left: 1em;
}

li:last-child {
    margin-right: 1em;
}

li > a {
    text-decoration: none;
    color: inherit;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    font-size: xxx-large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 3em;
    background-color: #242529;
}

.auth-form {
    width: 15%;
    margin: auto;
    min-width: 10em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
    width: 100%;
}

li > form {
    margin: 0;
}

label {
    margin-bottom: 0.5em;
}

*:focus {
    outline: none;
}

*::selection {
    background-color: #f0f3fa;
    color: #242529;
}

input {
    background-color: inherit;
    border-width: 1px;
    border-color: #f0f3fa;
    border-radius: 0.25em;
    color: #f0f3fa;
}

button[type=submit] {
    padding: 0.5em;
    width: 50%;
    min-width: 6em;
    background-color: #242529;
    color: inherit;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
}

li > form > button[type=submit] {
    padding: 0;
    width: 100%;
    min-width: 100%;
}

main > ul {
    padding: 0;
}

.navbar-avatar {
    max-height: 2em;
    max-width: 2em;
    border-radius: 180px;
}

.profile-avatar {
    max-height: 20em;
    max-width: 20em;
}

fieldset {
    min-width: 12em;
    width: 20%;
    margin-top: 1em;
}

legend {
    margin: auto;
}

.field {
    display: flex;
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.m-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}